<div class="modal-content">
  <div class="modal-header" id="kt_modal_add_user_header">
    <h2 class="fw-bolder">Agregar Usuario</h2>

    <div
      class="btn btn-icon btn-sm btn-active-icon-primary"
      data-kt-users-modal-action="close"
      (click)="modal.dismiss()"
    >
      <span class="svg-icon svg-icon-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <rect
            opacity="0.5"
            x="6"
            y="17.3137"
            width="16"
            height="2"
            rx="1"
            transform="rotate(-45 6 17.3137)"
            fill="currentColor"
          />
          <rect
            x="7.41422"
            y="6"
            width="16"
            height="2"
            rx="1"
            transform="rotate(45 7.41422 6)"
            fill="currentColor"
          />
        </svg>
      </span>
    </div>
  </div>

  <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">

    <form id="kt_modal_add_user_form" class="form" action="#">

      <div
        class="d-flex flex-column scroll-y me-n7 pe-7"
        id="kt_modal_add_user_scroll"
        data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}"
        data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_add_user_header"
        data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
        data-kt-scroll-offset="300px"
      >

       <div class="fv-row mb-7">
          <label class="d-block fw-bold fs-6 mb-5">Avatar</label>

            <div
              class="image-input image-input-outline"
              data-kt-image-input="true"
              style="background-image: url('assets/media/svg/avatars/blank.svg')"
            >
              <div
                class="image-input-wrapper w-125px h-125px"
                [ngStyle]="{'background-image': 'url('+ IMAGEN_PREVISUALIZA +')'}"

              ></div>

              <label
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change"
                data-bs-toggle="tooltip"
                title="Change avatar"
              >
                <i class="bi bi-pencil-fill fs-7"></i>

                <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="processAvatar($event)"/>
                <input type="hidden" name="avatar_remove" />

              </label>

              <span
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel"
                data-bs-toggle="tooltip"
                title="Cancel avatar"
              >
                <i class="bi bi-x fs-2"></i>
              </span>
              <!--end::Cancel-->
              <!--begin::Remove-->
              <!-- <span
                class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove"
                data-bs-toggle="tooltip"
                title="Remove avatar"
              >
                <i class="bi bi-x fs-2"></i>
              </span> -->
              <!--end::Remove-->
            </div>

            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>

        </div>

        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Nombres :</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input
            type="name"
            name="name"
            class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="Ingrese nombres"
            [(ngModel)]="name"
          />
          <!--end::Input-->
        </div>

        <div class="fv-row mb-7">

          <label class="required fw-bold fs-6 mb-2">Apellidos :</label>

          <input
            type="surname"
            name="surname"
            class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="Ingrese apellidos"
            [(ngModel)]="surname"
          />
          <!--end::Input-->
        </div>
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Contraseña :</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input
            type="password"
            name="password"
            class="form-control form-control-solid mb-3 mb-lg-0"
            [(ngModel)]="password"
            placeholder="********"

          />
          <!--end::Input-->
        </div>
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Repetir Contraseña:</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input
            type="password"
            name="confirmation_password"
            [(ngModel)]="confirmation_password"
            class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="********"

          />
          <!--end::Input-->
        </div>
        <div class="fv-row mb-7">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-2">Email</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input
            type="email"
            name="user_email"
            class="form-control form-control-solid mb-3 mb-lg-0"
            placeholder="example@domain.com"
            [(ngModel)]="email"
          />
          <!--end::Input-->
        </div>

        <div class="mb-7">
          <!--begin::Label-->
          <label class="required fw-bold fs-6 mb-5">Rol</label>

          <div class="d-flex fv-row">

            <div class="form-check form-check-custom form-check-solid">

              <input
                class="form-check-input me-3"
                name="user_role"
                type="radio"

                id="kt_modal_update_role_option_0"
                checked="checked"
              />
              <!--end::Input-->
              <!--begin::Label-->
              <label
                class="form-check-label"
                for="kt_modal_update_role_option_0"
              >
                <div class="fw-bolder text-gray-800">Administrador</div>

              </label>
              <!--end::Label-->
            </div>

          </div>

            <!--end::Radio-->
        </div>

          <!--end::Input row-->
          <!--end::Roles-->
        </div>
        <!--end::Input group-->

      <!--end::Scroll-->
      <!--begin::Actions-->
      <div class="text-center pt-15">
        <button
          type="reset"
          class="btn btn-light me-3"
          (click)="modal.dismiss()"
        >
          CERRAR
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="store()"
          data-kt-users-modal-action="submit"
        >
          <span class="indicator-label">REGISTRAR</span>
          <span
          class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading |async"
        ></span>
          <!-- <span class="indicator-progress"
            >Please wait...

          ></span> -->
        </button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
</div>
